<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-success"> 
          <div class="panel-heading">SAMSUNG</div>
          <div class="panel-body"><img src="../../assets/m4.jpg" height="120" width="90" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
                <h2 class="product-name"> Samsung A70 </h2>
                <p> SD 675 Processor </p>
                <p> <strong> just ₹ 28,990 </strong></p>
                <a class="btn btn-success" routerLink="/product">Go To Products</a>
            <!-- <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div> -->
          </div>
        </div> 
        
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">VIVO</div>
          <div class="panel-body"><img src="../../assets/e6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
              <h2 class="product-name"> Vivo V17 </h2>
              <p> Midnight Ocean Black,128GB</p>
              <p> <strong> just ₹ 22,000 </strong></p>
              <a class="btn btn-success" routerLink="/product">Go To Products</a>
            <!-- <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button></div> -->
        </div>
      </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">OPPO</div>
          <div class="panel-body"><img src="../../assets/e7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
              <h2 class="product-name"> Oppo F11 Pro </h2>
              <p> Thunder Black,128GB </p>
              <p> <strong> just ₹ 16,990 </strong></p>
              <a class="btn btn-success" routerLink="/product">Go To Products</a>
            <!-- <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">ACER</div>
          <div class="panel-body"><img src="../../assets/w9.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
             <h2 class="product-name"> Acer Predator 300 Core 9th Gen </h2>
              <p> Windows 10/6Gb </p>
              <p> <strong> just ₹ 79,000 </strong></p>
              <a class="btn btn-success" routerLink="/product">Go To Products </a>
            <!-- <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">LENOVO</div>
          <div class="panel-body"><img src="../../assets/e10.jpg" height="50" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
              <h2 class="product-name">Lenovo Ideapad 130 Core i5</h2> 
              <p> 8GB/Windows 10/2Gb graphics </p>
              <p> <strong> just ₹ 39,990 </strong></p>
              <a class="btn btn-success" routerLink="/product">Go To Products</a>
            <!-- <div
             class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">LG</div>
          <div class="panel-body"><img src="../../assets/e14.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
              <h2 class="product-name"> Lg [43] Android Smart Tv </h2>
              <p> DTS Virtual X  </p>
              <p> <strong> just ₹ 42,990 </strong></p>
            <!-- <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div> -->
            <a class="btn btn-success" routerLink="/product">Go To Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class="container">    
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">LG</div>
            <div class="panel-body"><img src="../../assets/e14.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
              <h2 class="product-name"> Lg [43] Smart  </h2>
              <p> DTS Virtual X </p>
              <p> <strong> just ₹ 26,499 </strong></p>
              <a class="btn btn-success" routerLink="/product">Go To Products to CART</a>
             <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>
  
            </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="panel panel-success">
            <div class="panel-heading">SAMSUNG</div>
            <div class="panel-body"><img src="../../assets/e16.jpg" height="115px" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer"> 
                <h2 class="product-name"> Samsung[32] HD Ready </h2>
                <p> Micro Dimming |HDR10 </p>
                <p> <strong> just ₹ 13,599 </strong></p>
             <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div> 
            <a class="btn btn-success" routerLink="/product">Go To Products to CART</a>
          </div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="panel panel-success">
            <div class="panel-heading">MICROMAX</div>
            <div class="panel-body"><img src="../../assets/e17.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">
                <h2 class="product-name"> Micromax [40] FHD  </h2>
                <p> Google Assistane | Digital Sound </p>
                <p> <strong> just ₹ 18,599 </strong></p>
                <a class="btn btn-success" routerLink="/product">Go To Products to CART</a>
           <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> 
          <div>
          </div>
        </div>
        </div>
       
  </div><br><br> -->
  
  <!-- <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Go To Productsress">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer> -->
