<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>E-SHOP HTML Template</title>


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>
<body>
<br>

	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="pnf">
		            <img area src="../../assets/logo.png" alt="Logo" class="logo">
		          </a>
						</div>
						<!-- /footer logo -->

						<!-- footer social -->
						<!-- <ul class="footer-social">
							<li><a href="pnf"><i class="fa fa-facebook"></i></a></li>
							<li><a href="pnf"><i class="fa fa-twitter"></i></a></li>
							<li><a href="pnf"><i class="fa fa-instagram"></i></a></li>
							<li><a href="pnf"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="pnf"><i class="fa fa-pinterest"></i></a></li>
						</ul> -->
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Mail to Developers</h3>
						<ul class="list-links">
							<li><a href="mailto:ayush@example.com">Ayush</a></li>
							<li><a href="mailto:kusuma@example.com">Kusuma</a></li>
							<li><a href="mailto:poonam@example.com">Poonam</a></li>
							<li><a href="mailto:asma@example.com">Asma</a></li>
							<li><a href="mailto:meghana@example.com">Meghana</a></li>
						</ul>
					</div>
				</div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">My Account</h3>
						<ul class="list-links">
							<li><a href="home">My Account</a></li>
							<li><a href="pnf">My Wishlist</a></li>
							<li><a href="pnf">Compare</a></li>
							<li><a routerLink="check">Checkout</a></li>
							<li><a routerLink="login">Login</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Customer Service</h3>
						<ul class="list-links">
							<li><a href="pnf">About Us</a></li>
							<li><a href="pnf">Shiping & Return</a></li>
							<li><a routerLink="contact">Contact Us</a></li>
							<li><a href="pnf">FAQ</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				</div>
			<!-- /row -->
			<hr>
			<!-- row -->

			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

</body>
</html>