<!DOCTYPE html>
<html lang="en">
<head>
  <title>Buyer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h2>Seller SignUp Form</h2>
  <hr>
<div class="container">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <div class="imgcontainer">
        <img src="../../assets/seller avatar.jpg"  alt="Avatar" class="avatar"/>
      </div>
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" placeholder="First Name" pattern="^[a-zA-Z]+$" name="fnm" [(ngModel)]="seller.firstName" required minlength="2" maxlength="12"/>
    </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" pattern="^[a-zA-Z]+$" name="lnm" [(ngModel)]="seller.lastName" required minlength="2" maxlength="12"/>
      </div>

      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" placeholder="user Name" pattern="^[a-zA-Z]+$" name="unm" [(ngModel)]="seller.userName" required minlength="5" maxlength="15"/>
      </div>
      <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" placeholder="password" name="pwd" [(ngModel)]="seller.password" required minlength="8" maxlength="20"/>
    </div>

    <div class="form-group">
      <label for="companyDetails">Company Details:</label>
      <input type="text" class="form-control" placeholder="companyDetails" name="cd" [(ngModel)]="seller.companyDetails" required minlength="2" maxlength="30"/>
    </div>

    <div class="form-group">
        <label for="emailId">Email:</label>
        <input type="email" class="form-control" placeholder="email id" name="email" [(ngModel)]="seller.emailId" required />
      </div>  
    <div class="form-group">
        <label for="mobileNumber">Mobile Number*:</label>
        <input type="text" class="form-control"  pattern="\d{10}" placeholder="Mobile Number" name="mobileNumber" [(ngModel)]="seller.mobileNumber" required maxlength="10"/>
        <span class="help-block">*Must Contain 10 digits Only</span>

      </div>
    
      <!-- <button type="submit" class="btn btn-success">Sign Up</button> -->
      <!-- <div>
      <button type="button" class="btn btn-success" (click)="ngSubmit">SignUp</button>
      </div>  -->
      <button  (click)="onSubmit" >Sign Up</button>
  </form>

</div>

</body>
</html>
