<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success"> 
        <div class="panel-heading">Cheese</div>
        <div class="panel-body"><img src="../../assets/gros11.jpg " class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name">Velveeta Cheese</h2>
          <p class="price"> &#x20b9; 200.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
          </div> -->
        </div>
      </div> 
      
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Coffee</div>
        <div class="panel-body"><img src="../../assets/gros5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name"> Nescafe Coffee</h2>
          <p class="price"> &#x20b9; 100.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button></div> -->
      </div>
    </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Sauce</div>
        <div class="panel-body"><img src="../../assets/gros14.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name"> Knorr Sauce </h2>
          <p class="price"> &#x20b9; 50.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Chocolate</div>
        <div class="panel-body"><img src="../../assets/gros12.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name">Milano</h2>
          <p class="price"> &#x20b9; 200.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Chocolate</div>
        <div class="panel-body"><img src="../../assets/gros13.jpg" height="50" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h3 class="product-name"> Melody </h3>
          <p class="price"> &#x20b9; 100.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Tea bags</div>
        <div class="panel-body"><img src="../../assets/gros6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
         <div class="panel-footer">
          <h3 class="product-name"> Taj Mahal Tea Bags</h3>
          <p class="price"> &#x20b9; 150.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">Oil</div>
          <div class="panel-body"><img src="../../assets/gros7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Emami Healthy and Taste</h3>
            <p class="price"> &#x20b9; 200.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">Salt</div>
          <div class="panel-body"><img src="../../assets/gros8.jpg" height="115px" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Ashirwad</h3>
            <p class="price"> &#x20b9; 100.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">Maggi</div>
          <div class="panel-body"><img src="../../assets/gros9.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Maggi magic cubes</h3>
            <p class="price"> &#x20b9; 99.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      
</div><br><br> -->


