<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success"> 
        <div class="panel-heading">One Piece</div>
        <div class="panel-body"><img src="../../assets/dress1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name">Stylish</h2>
          <p class="price"> &#x20b9; 3000.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div> 
      
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Frock</div>
        <div class="panel-body"><img src="../../assets/dress2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name">Trending</h2>
          <p class="price"> &#x20b9; 2000.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products </a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
      </div>
    </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">White Shirt</div>
        <div class="panel-body"><img src="../../assets/shirt2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name"> Stylish Shirt</h2>
          <p class="price"> &#x20b9; 1400.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Designer Saree</div>
        <div class="panel-body"><img src="../../assets/saree1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name">Saree</h2>
          <p class="price"> &#x20b9; 2000.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products </a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Checks Shirt</div>
        <div class="panel-body"><img src="../../assets/shirt1.jpg" height="50" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h3 class="product-name"> Shirts You May Like </h3>
          <p class="price"> &#x20b9; 1500</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Shirt</div>
        <div class="panel-body"><img src="../../assets/shirt3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
         <div class="panel-footer">
          <h3 class="product-name"> Trending Shirts</h3>
          <p class="price"> &#x20b9; 2000.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">Checks Shirt</div>
          <div class="panel-body"><img src="../../assets/shirt1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Shirts at best price</h3>
            <p class="price"> &#x20b9; 1400.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">White Shirt</div>
          <div class="panel-body"><img src="../../assets/shirt2.jpg" height="115px" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Shirts at best price</h3>
            <p class="price"> &#x20b9; 1500.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">Full Sleeves Shirt</div>
          <div class="panel-body"><img src="../../assets/shirt3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Shirts at best price</h3>
            <p class="price"> &#x20b9; 1700.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      
</div><br><br> -->


